<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of pet owners</title>
</head>
<body>
<h2>Owners</h2>

<table id="owners" class="table table-striped">
    <thead>
    <tr>
        <th>id</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <th th:text="${owner.id}"></th>
        <th th:text="${owner.firstName}"></th>
        <th th:text="${owner.lastName}"></th>
    </tr>
    </tbody>
</table>
</body>
</html>